

$color-primary-light: #fff;
$color-primary-dark: #000;
$color-secondary-dark:#1b1c1c;
$color-green-1: #1ebf90;
$color-green-2:#568a60;
$color-grey-1: #bbb;
$color-grey-2: #5e5e5e;
$color-grey-3:#f8f8f8;
$color-grey-4: #e0dfe5;
$color-grey-5:#cdcbd5;

$color-blue-1: #1b8bcc;
$color-yellow-1: #f7ca18;
$color-blue-fb:#3b5998;
$color-blue-twitter:#1da1f2;
$color-blue-navy: #233567;
$color-yellow-1: #fec600;
$color-red-gg:#e04a39;
$color-red-pin:#BD081C;

$default-fontsize: 1.8rem;