.btn {
  margin: 2rem 0;
  padding: 1.75rem 2.75rem;
  position: relative;
  &__primary {
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0;
    box-shadow: none;
  }
  &__dark-2nd {
    background: $color-grey-2;
    color: $color-primary-light;
    &:hover {
      background: $color-green-2;
      color: $color-primary-light;
    }
  }
  &__dark {
    background: $color-primary-dark;
    color: $color-primary-light;
    transition: all 0.4s;
    &:hover {
      background: $color-green-2;
      color: $color-primary-light;
      box-shadow: none;
      padding-right: 4rem;
    }
  }
  &:focus {
    outline: none;
  }
  &:hover {
    .arrow-hov {
      opacity: 1;
      right: 1rem;
    }
  }
}
.arrow-hov {
  opacity: 0;
  position: absolute;
  right: 3rem;
  transition: all 0.3s;
  font-size: 1.6rem;
  line-height: 1;
}
