.dropdown{
    &-menu{
        border: none;
        background: $color-grey-4;      
        &.show{
            display: flex;
        }
        .dropdown-item{
            font-size: 3rem !important;
            margin: 2rem;
            &:hover{
                background: unset;
            }
        }
    }
   
}